@model WebApplicationR.Controllers.UserController
@{
    ViewData["Title"] = "ConfirmEmail";
}
<div class="card text-center">
   <h2>You Are Welcome</h2>
    <p class="text-black-50 text-success">You Register was sucessful, please confirm your email</p>
</div>

